@page
@model HomeWork1AustinBartley.Pages.FarmCropsModel
@{
}
<h1 class="h1">Types Of Crops</h1>
<h2>
Corn
Wheat
</h2>
<h2>
    When You Should Plant
</h2>
<table border="1">
    <tr>
        <td>Corn</td>
        <td>Spring</td>
    </tr>
    <tr>
        <td>Wheat</td>
        <td>Fall</td>
    </tr>
</table>
