@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href="/FarmCrops">Types Of Crops</a>
<h2>
Why Climate Is Important For Crops
</h2>

<h2>
    Farmer Tips
</h2>
<form>
    <label for="ClimateMsg">IMPORTANT MESSAGE</label>
    <input type="button" id="ClimateMsg"/>
</form>